<h1>Silly Spinner (ngx-ngx-silly-spinner) Demo</h1>

<div class="row">

  <div class="col-md-3">
    <h2>Status: Pending</h2>
    <div class="panel panel-default">
      <div class="panel-body panel-body-demo">
        <ngx-silly-spinner [observable]="pendingObservable">(Should never be seen!)</ngx-ngx-silly-spinner>
      </div>
    </div>
    <p>You should see: A weirdly moving Silly Spinner.</p>
  </div>

  <div class="col-md-3">
    <h2>Status: Rejected</h2>
    <div class="panel panel-default">
      <div class="panel-body panel-body-demo">
        <ngx-silly-spinner [observable]="rejectedObservable">(Should never be seen!)</ngx-silly-spinner>
      </div>
    </div>
    <p>You should see: Some kind of error message.</p>
  </div>

  <div class="col-md-3">
    <h2>Status: Fullfilled</h2>
    <div class="panel panel-default">
      <div class="panel-body panel-body-demo">
        <ngx-silly-spinner [observable]="fullfilledObservable">(You can add own contents!)</ngx-silly-spinner>
      </div>
    </div>
    <p>You should see: Nothing fancy.</p>
  </div>

  <div class="col-md-3">
    <h2>Inline spinners</h2>
    <div class="panel panel-default">
      <div class="panel-body panel-body-demo">
        <p>You can display loading spinners inline.
          Sometimes <ngx-silly-spinner [inline]="true" [observable]="pendingObservable">(nope!)</ngx-silly-spinner> they just load.
          Others <ngx-silly-spinner [inline]="true" [observable]="fullfilledObservable">(yippie!)</ngx-silly-spinner> are done already.
          Errors happen as well.</p>
      </div>
    </div>
    <p>You should see: Some inline spinners.</p>
  </div>

</div>
